<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset='UTF-8'>
    <title>Editar Tipo</title>
    <link rel='stylesheet' href='/static/style.css'>
</head>
<body>
    <div class='hvac-container'>
        <header class='hvac-header'>
            <a href='/checklists/tipos' class='btn-back'> Voltar</a>
            <h2> Editar Procedimento</h2>
        </header>
        <div class='card-tech'>
            <form method='POST'>
                <div class='form-grid'>
                    <div class='form-group'>
                        <label>Ícone:</label>
                        <input type='text' name='icone' class='input-hvac' value='{{ tipo[1] }}' maxlength='4' required>
                    </div>
                    <div class='form-group' style='grid-column: span 2;'>
                        <label>Nome:</label>
                        <input type='text' name='nome' class='input-hvac' value='{{ tipo[2] }}' required>
                    </div>
                </div>
                <div class='form-group'>
                    <label>Descrição:</label>
                    <input type='text' name='descricao' class='input-hvac' value='{{ tipo[3] or "" }}'>
                </div>
                <button type='submit' class='btn-primary-hvac' style='width: auto; margin-top: 10px;'> Salvar Alterações</button>
            </form>
        </div>
    </div>
</body>
</html>